.text{
	margin-top: 1em;

}
li.i {
	margin-top: 0.5em;
	font-weight:normal;
}

.cp{
	
	font-size: 1.5em;
	text-align: center;
	text-indent: 0em;
	margin-bottom: 1.5em;
	font-weight:normal;
	margin-top: 1em;
}
ul.list {
	
	font-size: 1em;

	list-style-type: square;
}
.a{
	
}
.bodycontent-headimage-div{
	font-size: 1.62rem;
	text-align: left;
	text-indent: 0em;
	color:#EA5F36;
	border-bottom:1px solid #EA5F36;

}
.fang-text-1{
	font-size:1.38rem;
	color:#ED7341;
}
.fang-text-2{
	font-size:1rem;
	color:#F29355;
}

p.reference-1 {
	
	color: #D2691E;

	font-size: 1.5em;

	margin-bottom: 2.5em;
	text-align: center;
	text-indent: 0em;
	border-bottom: dashed 1.5px #D2691E;
	padding-bottom: 1.5em;
	width: 10em;
	margin-left: auto;
	margin-right: auto;
	font-weight:bold;
	margin-top: 1em;
}
p.chapter-title1 {

	
	color: #D2691E;
	font-size: 1.25rem;
	text-align: center;
	text-indent: 0em;
	margin-top: 0.5em;
	margin-bottom: 1.5em;
	font-weight: normal;
}
.note{
	font-size: 0.85em;
}
.note1{
	font-size: 0.85em;
	margin-bottom: 1em;
}


.block{
	
	font-size: 0.85em;

	text-indent: 2em;
	margin-left: 2em;
}
.part-text{
	"

}

.img{
	
	font-size: 0.85em;
	text-align: left;
	text-indent: 0em;
	margin-top:0.5em;
}

body {
	
}

p{
	margin-top: 0px;
	margin-bottom: 0px;
	text-indent: 2em;
	line-height:150%;
}
.cover {
	width:100%;
	padding:0px;
}
.center {
	text-align: center;
	text-indent: 0em;
	margin-left: 0%;
	margin-right: 0%;
}
.left {
	text-indent: 0em;
	margin-left: 0%;
	margin-right: 0%;
}
.right {
	text-align: right;
	margin-left: 0%;
	margin-right: 0%;
}
.quote {
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 1em;
	margin-right: 1em;
	text-align: justify;
	
}
h1 {

	text-align: center;
	font-size:1.5em;

}
h1.front {
	
	color: #7D6D4C;

	font-size: 1.75rem;
	text-align: center;
	text-indent: 0em;
	margin: 1.5em auto 2.5em auto;
	border-bottom: dashed 1.5px #7D6D4C;
	padding-bottom: 0.5em;
	width: 10em;
	margin-left: auto;
	margin-right: auto;
	font-weight:bold;
}
h1.zw-text1 {

	
	text-align: center;
	color:#887352;
	font-size:1.5em;
	margin: 0em auto 1.5em auto;
	background: #F3D4B6;
	border-radius: 0.1em;
	width:9em;
}
h1.back {
	
	color: #7D6D4C;

	font-size: 1.75rem;
	text-align: center;
	text-indent: 0em;
	margin: 1.5em auto 2.5em auto;
	border-bottom: dashed 1.5px #7D6D4C;
	padding-bottom: 0.5em;
	width: 10em;
	margin-left: auto;
	margin-right: auto;
	font-weight:bold;
}

h2 {

	
	text-align: left;
	color: #DA9C57;
	font-size:1.2em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-left:5px solid #DA9C57;
	padding-left:0.5em;
}
h3 {
	
	text-align: left;
	font-weight:bold;
	font-size:1em;
	margin-top: 1em;

}
h4 {
	
	text-align: left;
	font-weight:bold;
	font-size:1rem;
	margin-top: 1em;
}
h5 {
	
	text-align: left;
	font-weight:bold;
	font-size:0.88rem;
	margin-top: 0.8em;
}
h6 {
	text-align: left;
	font-weight:bold;
	font-size:0.75rem;
	margin-top: 1em;
	
}
.u { 
      text-decoration: underline; 
}


img.yiwen-footnote {
	width: 0.8em;
}

.inline{        
	height:1.2em;
	margin-bottom:-0.6em;
}


div.body-imagediv-alone {
	margin: 0.2em auto 1.2em auto;
	text-align: center; 
	width: 80%; 
	text-indent: 0em;
}

img.body-image-alone {
	font-size: 1rem;
	width: 100%; 
	margin-bootom:0.2em;
}