————————————————标题————————————————
h1{
	text-align:center;
	font-size:1.3em;
}
h1.front1{
	color:#F3BD3D;
	font-size:1.3em;
	text-align: left;
	text-indent:1em;
	font-weight:bold;
	margin-top:1.5em;
	margin-bottom:1.5em;
	}
h1.front{
	color:#EB734F;

	font-size:1.62rem;
	text-align:center;
	text-indent:0em;
	font-weight:bold;
	margin:1.5em auto 2.5em auto;
	padding-bottom:0.5em;
	margin-top:1.5em;
	margin-bottom:1.5em;
}
h1.zw-text1{
	text-align:center;
	font-size:1.5em;
	text-align: center;
	font-weight:bold;
	margin-top:1.5em;
	margin-bottom:1em;


}
h1.back{
	color:#EB734F;

	font-size:1.75rem;
	text-align:center;
	text-indent:0em;
	margin:1.5em auto 2.5em auto;
	padding-bottom:0.5em;
	margin-left:auto;
	margin-right:auto;
	font-weight:bold;
}
h2{
	text-align:center;
	color:#039be5;
	font-size:1.2em;
	margin-top:1.5em;
	margin-bottom:1em;
}
p.chapter-title1{
	color:#D2691E;
	font-size:1.25rem;
	text-align:center;
	text-indent:0em;
	margin-top:2em;
	margin-bottom:1.5em;
	font-weight:normal;
}
p.fronttitle1{
	color:#D2691E;
	font-size:1.25rem;
	text-align:center;
	text-indent:0em;
	margin-top:2em;
	margin-bottom:1.5em;
	font-weight:normal;
}
p.backtitle1{
	color:#D2691E;
	font-size:1.25rem;
	text-align:center;
	text-indent:0em;
	margin-top:2em;
	margin-bottom:1.5em;
	font-weight:normal;
}
p.backtitle2{
	color:#D2691E;
	font-size:1.25rem;
	text-align:center;
	text-indent:0em;
	margin-top:2em;
	margin-bottom:1.5em;
	font-weight:normal;
}
h3{
	text-align:left;
	font-weight:bold;
	font-size:1em;
	margin-top:1.5em;
	margin-bottom:1em;
}
h4{
	text-align:left;
	font-weight:bold;
	font-size:1rem;
	margin-top:1.5em;
	margin-bottom:1em;
}
h5{
	text-align:left;
	font-weight:bold;
	font-size:0.88rem;
	margin-top:0.8em;
	margin-bottom:0.5em;
}
.part-text{

}
.part-textc{
	color:#F89363;

}
.part-textf{
	font-size:0.85em;

}
.block1
{
	font-size:0.9em;
	text-align:right;
	margin-right:0%;
	margin-left:0%;
}
.block2
{
	font-size:0.9em;
	text-indent:0em;
	text-align:center;
	margin-left:0%;
	margin-right:0%;
}
.block3
{
	font-size:0.9em;
	text-align:left;
	text-indent:2em;
	margin-left:0%;
	margin-right:0%;
}
.img{
	font-size:0.85em;
	text-align:center;
	text-indent:0em;
	margin-top:0.5em;
}
.inline1{
	height:2.0em;
	margin-bottom:-0.1em;
}
.bg1{
	font-size:1em;
	color:#B9430C;
	margin-top:20%;
	margin-bottom:5%;
	text-align:center;
	text-indent:0em;
}
.bg2{
	color:#F6570D;
}
.bg3{
	color:#F36E30;
}
.bg4{
	color:#F89363;
}
.fieldset{
    border: 1px dotted black;
    border-radius: 5px;
	font-size:0.9em;/*16px;*/
	margin-top:1em;
	margin-bottom:1em;
}
}
.beijingse{
	color:#FFFFFF;

	font-size:1.2em;
	text-align:center;
	margin:1.5em 0em 1em 0em;
	background-color:#FF0033;
	border:1px solid #BDB20A;
	border-radius:0.5em 0.5em 0.5em 0.5em;
	font-weight:bold;
}
.bodycontent-headimage-div{
	font-size:1.62rem;
	text-align:left;
	text-indent:0em;
	color:#EA5F36;
	border-bottom:1px solid #EA5F36;

}
.note{
	font-size:0.85em;
}

.block{
	margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 150%;
    font-size: 0.9em;
    padding-left: 0.5em;
    text-align: justify;
	}
.center{
	text-align:center;
	text-indent:0em;
	margin-left:0%;
	margin-right:0%;
}
.left{
	text-indent:0em;
	margin-left:0%;
	margin-right:0%;
}
.right{
	text-align:right;
	margin-left:0%;
	margin-right:0%;
}
body{
}
p{
	margin-top:0px;
	margin-bottom:0px;
	text-indent:2em;
	line-height:150%;
}
.cover{
	width:100%;
	padding:0px;
}
.u{
	text-decoration:underline;
}
img.yiwen-footnote{
	width:0.8em;
}
.inline{
	height:1.0em;
	margin-bottom:-0.1em;
}
span.dyfirstLetter{
	float:left;
	font-size:280%;
	font-weight:bold;
	color:#008B8B;
	text-transform:uppercase;
	line-height:1em;
}
p.dyfirst{
	line-height:1.5em;
	text-align:left;
	margin:10pt0;
	letter-spacing:auto;
	text-indent:0em;
}
li.i{
	margin-top:0.5em;
	font-weight:normal;
}
.cp{
	font-size:1.5em;
	text-align:center;
	text-indent:0em;
	margin-bottom:1.5em;
	font-weight:normal;
	margin-top:1em;
}
ul.list{
	font-size: 1em;
	list-style-type: none;
	margin-left:1.5em;
}
.a{
	
}
div.body-imagediv-alone{
	margin:0.2em auto 1.2em auto;
	text-align:center;
	width:80%;
	text-indent:0em;
}
img.body-image-alone{
	font-size:1rem;
	width:80%;
	margin-bottom:0.2em;
}

div.image-right {
	float: right;
	font-size: 1rem;
	margin: 0em 0em 0.2em 1em;
	width: 40%;
}
div.image-left{
	float: left;
	font-size: 1rem;
	margin: 2em 1em 1em 0em;
	width: 50%;
}