p.noindent-bodyContent-1-kaiti-r-top{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: right;
    font-family: "kaiti";
    font-size: 1em;
}

img.pic-img-w20{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: center;
    vertical-align: middle;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
   padding-right: 0em;
    width: 20%;
}



