h1.backtitle-c-3{
    margin-top: 1.6em;
    margin-bottom: 1.3em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    
    text-align: center;
    font-family: "heiti";
    font-size: 1.6em;
}

p.bodyContent-1-10{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 5em;
    line-height: 1.5em;
    
    text-align: justify;
    
    font-size: 1em;
}

p.bodyContent-1-362{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 4em;
    margin-right: 0em;
    text-indent: 5em;
    line-height: 1.5em;
    
    text-align: justify;
    
    font-size: 1em;
}

p.bodyContent-1-kaiti-51{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 9em;
    line-height: 1.5em;
    
    text-align: justify;
    font-family: "kaiti";
    font-size: 1em;
}

p.bodyContent-1-top-119{
    margin-top: 2.6em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 2em;
    line-height: 1.5em;
    
    text-align: justify;
    
    font-size: 1em;
}

p.bodyContent-1-top-161{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 4em;
    margin-right: 0em;
    text-indent: 2em;
    line-height: 1.5em;
    
    text-align: justify;
    
    font-size: 1em;
}

p.bodyContent-2-fangsong-1{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 4em;
    margin-right: 0em;
    text-indent: -2em;
    line-height: 1.5em;
    
    text-align: justify;
    font-family: "fangsong";
    font-size: 1em;
}



div.chatu_img-5{
    margin-top: 1.3em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: center;
    vertical-align: middle;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
   padding-right: 0em;
    width: 100%;
}

p.enContent-1-7{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 4em;
    margin-right: 0em;
    text-indent: -2em;
    line-height: 1.5em;
    
    text-align: justify;
    font-family: "fangsong";
    font-size: 0.9em;
}

p.noindent-bodyContent-1-c-top{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: center;
    
    font-size: 1em;
}

p.noindent-bodyContent-1-kaiti-c-top{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: center;
    font-family: "kaiti";
    font-size: 1em;
}

img.pic-h-2d2{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: center;
    vertical-align: middle;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
   padding-right: 0em;
    height: 1.5em;
}

img.pic-img-w10{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: center;
    vertical-align: middle;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
   padding-right: 0em;
    width: 10%;
}

img.pic-img-w20{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: center;
    vertical-align: middle;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
   padding-right: 0em;
    width: 20%;
}

img.pic-img-w25{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: center;
    vertical-align: middle;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
   padding-right: 0em;
    width: 25%;
}

img.pic-img-w60-6{
    margin-top: 1.3em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: center;
    vertical-align: middle;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
   padding-right: 0em;
    width: 60%;
}

p.poemContent-1-12{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 6em;
    line-height: 1.5em;
    
    text-align: left;
    font-family: "kaiti";
    font-size: 1em;
}

p.poemContent-1-58{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 8em;
    line-height: 1.5em;
    
    text-align: left;
    font-family: "kaiti";
    font-size: 1em;
}

p.poemContent-1-59{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 9em;
    line-height: 1.5em;
    
    text-align: left;
    font-family: "kaiti";
    font-size: 1em;
}

p.poemContent-1-65{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 5em;
    line-height: 1.5em;
    
    text-align: left;
    font-family: "kaiti";
    font-size: 1em;
}

p.poemContent-1-71{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 9em;
    line-height: 1.5em;
    
    text-align: justify;
    font-family: "kaiti";
    font-size: 1em;
}

p.poemContent-1-top-95{
    margin-top: 1.3em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 8em;
    line-height: 1.5em;
    
    text-align: left;
    font-family: "kaiti";
    font-size: 1em;
}

p.poemContent-1-top-96{
    margin-top: 1.3em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 9em;
    line-height: 1.5em;
    
    text-align: left;
    font-family: "kaiti";
    font-size: 1em;
}

p.poemContent-1-top-101{
    margin-top: 1.3em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 6em;
    line-height: 1.5em;
    
    text-align: left;
    font-family: "kaiti";
    font-size: 1em;
}

p.poemContent-1-top-106{
    margin-top: 1.3em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 9em;
    line-height: 1.5em;
    
    text-align: justify;
    font-family: "kaiti";
    font-size: 1em;
}

p.poemContent-1-top-107{
    margin-top: 1.3em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 5em;
    line-height: 1.5em;
    
    text-align: left;
    font-family: "kaiti";
    font-size: 1em;
}



p.signContent-1-kaiti-10{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 4em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: right;
    font-family: "kaiti";
    font-size: 1em;
}

p.signContent-1-kaiti-c{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: center;
    font-family: "kaiti";
    font-size: 1em;
}

