h1.backtitle-c-2{
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    
    text-align: center;
    font-family: "heiti";
    font-size: 1.7em;
}

div.boxBlock-12{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: left;
             vertical-align:middle;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
   padding-right: 0.5em;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-radius: 0em;
    border-style: solid;
    border-color: #000000;
    
}

p.boxContent-1-168{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 8em;
    line-height: 1.5em;
    
    text-align: justify;
    font-family: "kaiti";
    font-size: 1em;
}

p.noindent-bodyContent-1-heiti-c-top{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: center;
    font-family: "heiti";
    font-size: 1em;
}

p.noindent-bodyContent-1-kaiti-r-top{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: right;
    font-family: "kaiti";
    font-size: 1em;
}

p.poemContent-2-18{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 2em;
    margin-right: 0em;
    text-indent: 2em;
    line-height: 1.5em;
    
    text-align: left;
    font-family: "kaiti";
    font-size: 1em;
}

p.poemContent-2-top-54{
    margin-top: 1.3em;
    margin-bottom: 0em;
    margin-left: 2em;
    margin-right: 0em;
    text-indent: 2em;
    line-height: 1.5em;
    
    text-align: left;
    font-family: "kaiti";
    font-size: 1em;
}



