p.hang-bodyContent-1-heiti{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 0em;
    text-indent: -2em;
    line-height: 1.5em;
    
    text-align: justify;
    font-family: "heiti";
    font-size: 1em;
}

p.noindent-bodyContent-1-c-1{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: center;
    
    font-size: 1.1em;
}

p.noindent-bodyContent-1-c-top{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: center;
    
    font-size: 1em;
}

p.noindent-bodyContent-1-c-top-14{
    margin-top: 2.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: center;
    
    font-size: 1em;
}

p.noindent-bodyContent-1-heiti-c-top{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: center;
    font-family: "heiti";
    font-size: 1em;
}

p.noindent-bodyContent-1-kaiti-c-top{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: center;
    font-family: "kaiti";
    font-size: 1em;
}

p.noindent-bodyContent-1-kaiti-r-top{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: right;
    font-family: "kaiti";
    font-size: 1em;
}

p.noindent-bodyContent-1-r-top{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    
    text-align: right;
    
    font-size: 1em;
}



