/* Global setting */
/* 全局设定 */
body {
	font-size: 1em;
	text-align: justify;
	line-height: 1.618em;
}

/* Recommended Text indent */
/* 全文首行缩进2各个中文字符 */
p {
	text-indent: 2em;
}

/* 版权信息页正文 */
/* Copyright page text */
p.kindle-cn-copyright-text {
	line-height: 1em;
	text-indent: 0em;
}

/* Quote */
/* 引用框 */
blockquote.kindle-cn-blockquote {
  background: #f9f9f9;
  border-left: 0.5em solid #ccc;
  margin: 1.5em;
  padding: 1em;
  text-indent:2em;
  line-height:1.5em;
}
/*封面*/
.cover{height:100%;}

/*书名页*/
.smy-sm{font-size:2em;margin-top:2em;margin-bottom:0em;text-align:center;font-weight:normal;}
/*书名页*/
.smy-sm1{font-size:1.5em;margin-top:1em;margin-bottom:0em;text-align:center;font-weight:normal;}
/*书名页丛书名*/
.smy-csm{font-size:1.7em;margin-top:0em;margin-bottom:0em;text-align:center;font-weight:normal;}
/*书名页副书名*/
.smy-fsm{font-size:1.7em;margin-bottom:2em;margin-top:0em;text-align:left;font-weight:normal;}
/*书名页副书名*/
.smy-fsm1{font-size:1.7em;margin-bottom:0em;margin-top:1em;text-align:center;font-weight:normal;}
/*书名页作者*/
.smy-zz{font-size:1.5em;margin-top:1em;margin-bottom:0em;text-align:center;font-weight:normal;}

.smy-zz1{font-size:1.5em;margin-top:1em;margin-bottom:0em;text-align:center;font-weight:normal;}

.smy-cbs{font-size:1.5em;margin-top:6em;text-align:center;font-weight:normal;}
/*书名页其它*/
.smy-qt{font-size:1.5em;text-align:center;font-weight:normal;}

/*版权页*/
/**/
.bq{font-size:1em;line-height:1.5em;}

/*正文*/
h1{font-weight:bold;text-align:center;padding: 0.75em 0 0.75em 0;width:100%;}/*一级标题*/
h2{font-weight:bold;text-indent:0em;text-align:center;}/*二级标题*/
h3{font-weight:bold;text-indent:0em;text-align:left;}/*三级标题*/
h4{font-weight:normal;text-indent:0em;text-align:left}/*四级标题*/
h5{font-size:1em;font-weight:normal;text-align:left;text-indent:0em;}/*五级标题*/
h6{font-size:1em;font-weight:normal;text-align:left;text-indent:0em;}/*六级标题*/

/*引文*/
sup{line-height:50%}
/*上标*/
sub{line-height:50%}
/*下标*/
.blockquote{margin-left:2.4em;font-size:0.9em;margin-right:2.4em;text-align:justify;line-height:1.5em}
/*落款*/
.rt1{font-size:0.8em;text-align:right;line-height:1.5em;margin-top:0px;margin-bottom:0em;margin-left:0em;margin-right:0em;padding-left:2.0em;padding-right:4.0em}
/*诗歌*/
.poem{font-size:0.9em;text-align:left;padding-left:6.0em;padding-right:4.0em;}
img.gaiji {width:1em;height:1em;}
img.gaiji1 {width:0.6em;height:1em;}

/*附注标题*/
.fnote-bt{font-size:1em;text-indent:0em;line-height:1.5em;margin-top:0em;font-weight:bold;text-align:justify;}/*附注标题*/
.fnote{font-size:0.9em;line-height:1.5em;text-align:justify;margin-top:0em;margin-right:0em;margin-bottom:0em;margin-left:1em;}/*注解内容*/
.fnote1{font-size:0.9em;line-height:1.5em;text-align:justify;margin-top:0em;margin-right:0em;margin-bottom:0em;text-indent:-2em;margin-left:2em}/*注解内容*/
.fnote2{font-size:0.9em;line-height:1.5em;text-indent:2em;text-align:justify;margin-top:0em;margin-right:0em;margin-bottom:0em;margin-left:0em}/*注解内容*/
/*图片*/
.tp{text-align:center;margin-top:1em;margin-bottom:1em;text-indent:0em;font-size:0.9em}/*居中*/
/**/
/*图片*/
.tp-float-l{float:left;margin-top:10px;margin-right:10px;margin-bottom:10px;margin-left:0px;}/*居左绕文*/
/*图片*/
.tp-float-r{float:right;margin-top:10px;margin-right:0px;margin-left:10px;margin-bottom:10px;}/*居右绕文*/
/*图片*/
.tp-l{float:left;text-align:center;padding-left:0em;padding-right:0.8em;}
/*图片*/
.tp-r{float:right;text-align:center;padding-left:0.8em;padding-right:0em;}
/*图片*/
.picture{text-align:center;margin-top:1em;margin-bottom:1em;text-indent:0em}/*居中*/
/*图片*/

hr{width:100%;color:"#";size:"1px";}
/**/
.hh{width:20%;color:"#";size:"1px";}

/*表格*/
table{line-height:1.5em;margin-left:0em;margin-right:0em;margin-bottom:1em;margin-top:1em;font-size:1em;border-collapse:collapse;padding:3px;padding-left:0.5em;padding-right:0.5em}
/**/
.ta1{border:1px solid #000;border-collapse:collapse;padding:3px;text-align:center;vertical-align:top;margin-bottom:20px;margin-top:20px;margin-right:0px;margin-left:0px;font-size:0.94rem;}/*表中各列间有线*/
/**/
.ta2{border:0px;border-collapse:collapse;padding:3px;text-align:center;vertical-align:top;margin-bottom:20px;margin-top:20px;margin-right:0px;margin-left:0px;font-size:0.94rem;}
/**/
/*列项*/
.lt{text-align:left;vertical-align:top}/*居左上齐*/
/**/
.ct{text-align:center;vertical-align:top}/*居中上齐*/
/**/
.rt{text-align:right;vertical-align:top}/*居右上齐*/
/**/
.lm{text-align:left;vertical-align:middle}/*居左中齐*/
/**/
.cm{text-align:center;vertical-align:middle}/*居中中齐*/
/**/
.rm{text-align:right;vertical-align:middle}/*居右中齐*/
/**/
.lb{text-align:left;vertical-align:bottom}/*居左下齐*/
/**/
.cb{text-align:center;vertical-align:bottom}/*居中下齐*/
/**/
.rb{text-align:right;vertical-align:bottom}/*居右下齐*/
/**/
.b1{border-top:1px solid #000;border-bottom:1px solid #000;border-left:0px;border-right:0px;}/*列项上下右方有线*/
/**/
.b2{border-top:0px;border-bottom:1px solid #000;border-left:0px;border-right:1px solid #000;}/*列项下右方有线*/
/**/
.b3{border-top:1px solid #000;border-bottom:1px solid #000;border-left:0px;border-right:0px;}/*列项上下方有线*/
/**/
.b4{border-top:0px;border-bottom:1px solid #000;border-left:0px;border-right:0px;}/*列项下方有线*/
/**/

/*列表*/
/**/
/*列表的列项*/
.ur{list-style-images:url(hei.jpg)}
/**/

/*组合样式*/
.bjcolor{background-color:#EEEEEE;padding-left:3pt;padding-right:3pt;padding-top:3pt;padding-bottom:3pt}/*背景颜色*/
/**/
.bjcolor1{background-color:#BBBBBB;padding-top:0.5em;padding-bottom:0.5em;padding-left:0.5em;padding-right:0.5em}/*背景颜色*/
/**/
.bk{border-style:solid;border-width:1px;padding-left:3pt;padding-right:3pt;padding-top:3pt;padding-bottom:3pt}/*边框*/
/**/
.bk1{border-top:1px solid #000;border-bottom:1px solid #000;}/*上下边框*/
/**/
.left{text-align:left;}/*居左*/
/**/
.right{text-align:right;}/*居右*/
/**/
.center{text-align:center;text-indent:0em}/*居中*/
/**/
.marg-top0{margin-top:0em;}/*上边距为0*/
/**/
.marg-top1{margin-top:1em;}/*上边距为1*/
/**/
.marg-top2{margin-top:2em;}/*上边距为2*/
/**/
.marg-bottom0{margin-bottom:0em;}/*下边距为0*/
/**/
.marg-bottom1{margin-bottom:1em;}/*下边距为1*/
/**/
.marg-bottom2{margin-bottom:2em;}/*下边距空2*/
/**/
.marg-left0{margin-left:0em;}/*左边距为0*/
/**/
.marg-left1{margin-left:1em;}/*左边距为1*/
/**/
.marg-left2{margin-left:2em;}/*左边距为2*/
/**/
.marg-left3{margin-left:3em;}/*左边距为3*/
/**/
.marg-left4{margin-left:4em;}/*左边距为4*/
/**/
.marg-left5{margin-left:5em;}/*左边距为5*/
/**/
.marg-left6{margin-left:6em;}/*左边距为6*/
/**/
.marg-left7{margin-left:7em;}/*左边距为7*/
/**/
.marg-left8{margin-left:8em;}/*左边距为8*/
/**/
.marg-left10{margin-left:10em;}/*左边距为10*/
/**/
.marg-right1{margin-right:1em;}/*右边距空1*/
/**/
.marg-right2{margin-right:2em;}/*右边距空2*/
/**/
.marg-right3{margin-right:3em;}/*右边距空3*/
/**/
.marg-right4{margin-right:4em;}/*右边距空4*/
/**/
.marg-right5{margin-right:5em;}/*右边距空5*/
/**/
.marg-right6{margin-right:6em;}/*右边距空6*/
/**/
.marg-right8{margin-right:8em;}/*右边距空8*/
/**/
.noindent{text-indent:0em;}/*正文不空两字*/
/**/
.dx0{text-indent:-2em;margin-left:2em;text-align:justify}/*正文倒悬*/
/**/
.dx1{text-indent:-2em;margin-left:2em;text-align:justify}/*正文倒悬*/
/**/
.dx2{text-indent:-1.7em;margin-left:5.8em;text-align:justify}/*正文倒悬*/
/**/
.dx3{text-indent:-4em;margin-left:4em;text-align:justify}/*正文倒悬4个空*/
/**/
.dx5{text-indent:-3em;margin-left:5em;text-align:justify}/*正文倒悬*/
/**/
.dx6{text-indent:-4em;margin-left:6em;text-align:justify}/*正文倒悬*/
/**/
.dx7{text-indent:-1em;margin-left:5em;text-align:justify;font-size:0.9em;}/*正文倒悬*/
/**/
.dx8{text-indent:-2em;margin-left:4em;text-align:justify;font-size:0.9em;}/*正文倒悬*/
/**/
.dx9{text-indent:-2em;margin-left:6em;text-align:justify;font-size:0.9em;}/*正文倒悬*/
/**/
.dx10{text-indent:-3em;margin-left:7em;text-align:justify;font-size:0.9em;}/*正文倒悬*/
/**/
.un1{border-bottom:1px solid #000;}
/**/
.un{text-decoration:underline}/*下划线*/
/**/
.ov{text-decoration:overline}/*上划线*/
/**/
.un2{border-bottom:2pt double #000000}/*双下划*/
/**/
.font1{font-size:0.8em}/*字体为0.8em*/
/**/
.font2{font-size:0.9em}/*字体为0.9em*/
/**/
.font3{font-size:1.1em}/*字体为1.1em*/
/**/
.font4{font-size:1.2em}/*字体为1.2em*/
/**/
.indent{text-indent:2em}/*缩进2个字*/
/**/
.half{height:80%}/*80%*/
.padd{padding-top:0.5em;padding-bottom:0.5em;padding-left:0.5em;padding-right:0.5em;font-size:0.9em;margin-top:1em;margin-bottom:1em}
.bold{font-weight:bold;}
.it{font-style:italic}
.sc{font-variant:small-caps}
.pt{margin-left:2.4em;font-size:0.9em;margin-right:2.4em}
.CN_Kindle_Hei{}
/**/
.CN_Kindle_Kai{}
/**/
.CN_Kindle_Song{}
.empty{margin-bottom:2.2em;margin-top:2.2em;}





/* Global setting */
/* 全局设定 */
body {
	line-height: 1.618em;
}

/* TOC link color */
/* 目录条目链接颜色 */
a {
	color: #0000CC;
}

/* TOC Title */
/* 目录标题 */
.kindle-cn-toc-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
	letter-spacing: 1em;
    text-align: center;
	border-bottom: 1.5px dotted #000000;
}
.kindle-en-toc-title {
	text-align:center;
	font-size: 2em;
	font-weight: bold;
}
/* Level 1 TOC */
/* 一级标题 */
.kindle-cn-toc-level-1 {
    margin-left: 0em;
	text-indent: 0em;
}

/* Level 2 TOC */
/* 二级标题 */
.kindle-cn-toc-level-2 {
    margin-left: 2em;
	text-indent: 0em;
}

/* Level 3 TOC */
/* 三级标题 */
.kindle-cn-toc-level-3 {
    margin-left: 4em;
	text-indent: 0em;
}

/* Level 4 TOC */
/* 四级标题 */
.kindle-cn-toc-level-4 {
    margin-left: 4em;
	text-indent: 0em;
}

/* Level 5 TOC */
/* 五级标题 */
.kindle-cn-toc-level-5 {
    margin-left: 4em;
	text-indent: 0em;
}

/* Level 6 TOC */
/* 六级标题 */
.kindle-cn-toc-level-6 {
    margin-left: 4em;
	text-indent: 0em;
}
p{
text-indent:2em;}
/* TOC link color */
/* 目录条目链接颜色 */
a {
	color: #0000CC;
}
