.pics {
     text-align: center;
     margin: 1.5em auto;
     width: 50%;
}

.pic {
     text-align: center;
     margin: 1.5em auto;
     width: 98%;
}

.pic img, .wc img, .w img, .pics img,  {
     max-width: 100%;
}

.caption {
     display: block;
     color: #5e5e5e;
     line-height: 1.25em;
     font-size: .65em;
     text-align: left;
     text-indent !important: ;
     padding: ;
     margin-left: 1em;
     margin-bottom: .75em;
}
