.picf {
     text-align: center;
     margin: 3em auto 0;
     width: 98%;
}

.pics {
     text-align: center;
     margin: 1.5em auto;
     width: 50%;
}

a.footnote {
     color: #a05c21;
     font-size: .6em;
     line-height: 1em;
     margin-right: .5em;
     text-decoration: none;
     vertical-align: super;
}

ol.footnote {
     border-top: 1px #a05c21 solid;
     font-size: .8em;
     margin-top: 5em;
     margin-bottom: 0;
}

.pic {
     text-align: center;
     margin: 1.5em auto;
     width: 98%;
}

.picop {
     text-align: center;
     margin: auto;
     width: 98%;
}

.picv {
     text-align: center;
     margin: 1.5em auto;
     width: 70%;
}

.picv img, .picop img, .pic img, .wc img, .w img, .pics img, .picf img {
     max-width: 100%;
}

.caption {
     display: block;
     color: #5e5e5e;
     line-height: 1.25em;
     font-size: .65em;
     text-align: left;
     text-indent !important: ;
     padding: ;
     margin-left: 1em;
     margin-bottom: .75em;
}
